<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bonkai Gallery</title>

<!--Remy Sharp Shim --> 
<!--[if lte IE 9]> 
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript" >
</script> 
<![endif]-->
    
    <link href="css/main.css" type="text/css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen">
    
 <header> 
    
        <div id="awesome">
            <ul id="font-awesome">
                <li id="instagram"><a href="// place url here "><i class="fab fa-instagram"></i></a></li>
                
                <li id="facebook"><a href="// place url here "><i class="fab fa-facebook"></i></a></li>
            </ul>
                </div>
        
        <nav id= "primary">
           
            
            <!--  START OF DROP DOWN CLICK -->
            <button class="nav-button">Toggle Navigation</button>  
            <ul class="nav primary-nav">
  <li>
    <a href="home.html">
      Home
    </a>
  </li>
 <li>
    <a href="about.html">
      About
    </a>
  
  <li class="button-dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle">
     Gallery <span>▼</span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="http://webdesign120.space/homework9/menu.html">
          Photos
        </a>
      </li>
      <li>
        <a href="http://webdesign120.space/homework9/menu.html">
          Videos
        </a>
      </li>
      <li>
        <a href="http://webdesign120.space/homework9/menu.html">
          Tuna Poki w/ Rice 12$
        </a>
      </li>
    </ul>
  </li>
  <li class="button-dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle">
      Contact Us <span>▼</span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="contacts.html">
          Jose Castro
        </a>
      </li>
</ul>
  </li>
  
</ul>

        </nav>
<!--  END OF DROP DOWN CLICK -->
<div id='home-Logo'>
    <img src="images/bonkaiLogo2.png">
  </div>
    </header>
    
<!--Start of gal-Wrapper--> 
<div id="gal-Wrapper">



    
</div>

        

       
       
        
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="js/drop-down.js"></script>
  <!-- FlexSlider -->
  <script defer src="js/jquery.flexslider.js"></script>
  <script type="text/javascript">
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>


  <!-- Optional FlexSlider Additions -->
  <script src="js/jquery.easing.js"></script>
  <script src="js/jquery.mousewheel.js"></script>
  <script defer src="js/demo.js"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script>
		$(document).ready(function(){
			$(".nav-button").click(function () {
			$(".nav-button,.primary-nav").toggleClass("open");
			});    
		});
		</script>
    
    
    </body>
</html>




