/* basic css format for all pages */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



img{ 
    display: block;

} 

/* basic css format for header for all pages */

#header{
    display: block;
    width:100%;
    height: 75px; 
    background-color: white;
    border-bottom: 2px black;
}

/* css for nav in header on all pages */
.navbar{ 
    overflow: hidden;
    background-color:#333;
    padding-left: 20%;
}

.navbar a { 
    float:left; 
    font-size: 16px; 
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none;
    background-color: blue;
    margin-left: 20px;
    width: 200px;
    

} 

.dropdown{ 
    float: left;
    text-align: center;
    overflow: hidden;
    background-color: green;
    margin-left: 20px;
    width: 200px;
}

.dropdown .dropbtn{ 
    font-size: 16px; 
    border:none; 
    outline:none; 
    color: white; 
    padding: 14px 16px; 
    background-color:inherit; 
    font-family: inherit; 
    margin:0;
} 

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdownContent{ 
    display:none; 
    position: absolute;
    min-width: 160px;
    z-index: 1;
    /* background-color:#f9f9f9; */
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */


}

.dropdownContent a{ 
    float: none; 
    color:black;
    padding:12px 16px; 
    text-decoration: none; 
    display: block;
    text-align:left;
} 

.dropdownContent a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdownContent {
    display: block;
  } 


  /* START OF HOME BODY STYLES */ 

  #homeBody, #slider, .wrap, .slide-content{
    margin: 0; 
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height:100vh; 
    overflow-x: hidden;

  } 

  .wrap{ 
      position:relative
  } 

  .slide{ 
      background-size:cover; 
      background-position: center;
      background-repeat:no-repeat;
  }

  .slide1{background-image: url('../images/image1.jpg')}
  .slide2{background-image: url('../images/image2.jpg')}
  .slide3{background-image: url('../images/image3.jpg')}

  .slide-content{ 
      display:flex;
      flex-direction:column; 
      justify-content: center;
      align-items: center;
      text-align:center;
  } 

  .slide-content span{ 
      font-size: 5rem; 
      color:white;
  } 

/* start of arrows  */
.arrow{ 
    cursor: pointer; 
    position: absolute; 
    top: 50%; 
    margin-top: -35px; 
    width: 0; 
    height:0;
    border-style: solid;
}

#arrow-left{
    border-width: 30px 40px 30px 0;
    left: 0; 
    margin-left: 30px;
    border-color:transparent #fff transparent transparent;
}

#arrow-right{
    border-width: 30px 0px 30px 40px;
    border-color:transparent transparent transparent #fff;
    right: 0; 
    margin-right:30px;
}
